*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  background-color: #272838;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.container {
  margin: 0 2rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  background: #d2d0db;
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  border: 1px solid #222;
  border-radius: 7px;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #222;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #000;
}

.nav__brand {
  border: 0;
  padding-top: 0.5rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Grids */
.grid {
  display: grid;
}

.content-grid {
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, minmax(300px, auto));
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Block */
.block {
  width: 100%;
  background: #cafe48;
  font-size: larger;
  border: 3px solid black;
  border-radius: 7px;
  border: 1px solid rgb(51, 51, 51);
  color: #272838;
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}
