:root {
  --color-text-primary: white;
  --color-text-secondary: azure;
  --color-text-bg: rgba(73, 245, 208, 0.3);
}

/* Typing Text */
body {
  background-image: url(https://unsplash.com/photos/xcQWMPm9fG8/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ3NTE0NjE3&force=true&w=1920);
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typetext {
  width: 13ch;
  animation: typing 2s steps(13), blink 0.75s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.start-box {
  padding-top: 7.5%;
}

/* Typography */
.name {
  font-size: 80px;
  color: var(--color-text-primary);
  margin: 0, 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.text {
  text-align: center;
  font-size: larger;
  color: var(--color-text-secondary);
  margin: 0, 20px;
  font-size: 25px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: wheat;
}

a:hover {
  color: lightyellow;
}

@media screen and (max-width: 1024px) {
  .start-box {
    padding-top: 10rem;
  }

  .name {
    font-size: 50px;
    color: var(--color-text-primary);
    margin: 50px, 20px;
    overflow: hidden;
  }

  .text {
    text-align: center;
    color: var(--color-text-secondary);
    margin: 0, 30px;
    font-size: 20px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: wheat;
  }

  a:hover {
    color: lightyellow;
  }
}
/* Socials */
.social {
  font-size: x-large;
  font-weight: 100;
  margin-bottom: 0;
}

.Socials {
  margin-top: 10px;
  font-size: 50px;
  color: var(--color-text-secondary);
  padding: 12px;
  border-bottom: 1px whitesmoke;
}
