@font-face {
  font-family: "Nexa Light";
  src: url("/Nexa\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Nexa bold";
  src: url("/Nexa\ Bold.otf") format("truetype");
}

body {
  font-family: Nexa Light;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 7px;
}

li p {
  float: left;
  display: inline-flex;
  color: azure;
  text-align: center;
  padding-left: 10px;
}

li a {
  float: right;
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: #111;
  border-radius: 9px;
}

.Block {
  float: left;
  width: 50%;
  margin: 10px;
  font-size: larger;
}
