@font-face {
  font-family: "Nexa Light";
  src: url("/Nexa\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Nexa-bold";
  src: url("/Nexa\ Bold.otf") format("truetype");
}

body {
  font-family: Nexa Light;
  background-color: #2e4045;
}

.nav {
  padding: 0px 10px 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid black;
}

li p {
  float: left;
  display: inline-flex;
  font-weight: bold;
  color: azure;
  text-align: center;
  padding-left: 10px;
}

li a {
  float: right;
  display: inline-flex;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 9px;
}

.A {
  box-sizing: content-box;
  padding: 10px;
}

.Block {
  background-color: #83adb5;
  padding: 10px;
  float: left;
  margin: 10px;
  font-size: larger;
  border: 3px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

h1 {
  font-family: Nexa-bold;
}

.block2 {
  background-color: #c7bbc9;
  padding: 10px;
  width: initial;
  float: right;
  margin: 10px;
  font-size: larger;
  border: 3px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

.articleblock {
  background-color: #bfb5b2;
  padding: 10px;
  float: left;
  margin: 10px;
  font-size: larger;
  border: 3px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

.post {
  height: 250px;
  width: 200px;
  padding: 5px;
  background-color: yellow;
  border: 2px solid white;
  border-radius: 20px;
}

:link {
  font-style: normal;
}
