@font-face {
  font-family: "Nexa Light";
  src: url("/Nexa\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Nexa-bold";
  src: url("/Nexa\ Bold.otf") format("truetype");
}

body {
  font-family: Nexa Light;
  background-color: #4059ad;
}

nav {
  padding: 0px 10px 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #81b9c4;
  border-radius: 7px;
  border: 1px solid black;
}

li p {
  float: left;
  display: inline-flex;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 10px;
}

li a {
  float: right;
  display: inline-flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 9px;
}

.A {
  box-sizing: content-box;
  padding: 10px;
}

.Block {
  background-color: #6b9ac4;
  padding: 10px;
  float: left;
  margin: 10px;
  font-size: larger;
  border: 8px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

h1 {
  font-family: Nexa-bold;
}

.block2 {
  background-color: #97d8c4;
  padding: 10px;
  width: initial;
  float: right;
  margin: 10px;
  font-size: larger;
  border: 8px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

.articleblock {
  text-align: center;
  background-color: #f2d69a;
  padding: 10px;
  float: left;
  margin: 10px;
  font-size: larger;
  border: 8px solid black;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}

.post {
  height: 400px;
  width: 300px;
  background-color: #f4b942;
  border: 2px solid #eff2f1;
  border-radius: 20px;
}

.post img {
  height: 150 px;
  width: 200px;
}

a:link {
  text-decoration: none;
}

span {
  display: inline-block;
  padding: 40px;
}
