.transform-component-module_wrapper__1_Fgj {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  margin: 0;
  padding: 0;
}
.transform-component-module_content__2jYgh {
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  transform-origin: 0% 0%;
}
.transform-component-module_content__2jYgh img {
  pointer-events: none;
}

@font-face {
  font-family: "Nexa Light";
  src: url("/Nexa\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Nexa-bold";
  src: url("/Nexa\ Bold.otf") format("truetype");
}

body {
  font-family: Nexa Light;
  background-color: azure;
}

nav {
  padding: 0px 10px 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li p {
  float: left;
  display: inline-flex;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 10px;
}

li a {
  float: right;
  display: inline-flexbox;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: transparent;
  text-decoration: underline black;
}

.A {
  box-sizing: content-box;
  padding: 10px;
}

.H {
  padding-top: 50px;
  font-family: Nexa-Bold;
  font-size: 45px;
}

p {
  font-size: 25px;
}

.Block {
  padding: 10px;
  text-align: center;
  float: center;
  margin: 10px;
}
